.header{
	background-color: #468499;
}
.bunny{
	font-family: 'Baloo Paaji', cursive;
	color: white;
	font-size: 30px;
	margin-left: 10px;
	width: 200px;
}
span{
	font-family: 'Baloo Paaji', cursive;
	color: #ff4444;
	font-size: 30px;
	margin-left: 10px;
	width: 50px;
}
.menu ul li{
	list-style: none;
	float: left;
	margin-top: 30px;
	margin-left: 40px;
}
.menu ul li a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-family: 'Prompt', sans-serif;
}
.foto1{
	background-image: url("../img/img-1.jpg");
	background-size: cover;
	max-width: 100%;
	height: 400px;
}
.titulo1{
	width: 50%;
	margin-left: 200px;
	margin-top: -350px;
	padding: 30px;
	background-color:#468499;
	opacity: 0.8;
}
.soft{
	font-family: 'Baloo Paaji', cursive;
	font-size: 50px;
	color:#ff4444;
	text-align: center;
}
.parrafo1{
	text-align: center;
	font-family: 'Prompt', sans-serif;
	font-style: italic;
	color: white;
}
.conejo_peter{
	background-color:#468499;
	margin-top: 100px; 
	margin-left: 10px;
	margin-right: 10px;
}
.foto_peter{
	background-size: cover;
	width: 247px;
	height: 180px;
}
.titulo_peter{
	color: #ff4444;
	font-family: 'Baloo Paaji', cursive;
	text-align: center;
	font-size: 15px;
}
.parrafo_peter{
	text-align:center;
	color: white;
	font-family: 'Prompt', sans-serif;
	font-size: 13px;
	padding: 25px;
}
.conejo_boris{
	background-color:#468499;
	margin-top: 100px; 
	margin-left: 10px;
	margin-right: 10px;
}
.foto_boris{
	background-size: cover;
	width: 247px;
	height: 180px;
}
.titulo_boris{
	color: #ff4444;
	font-family: 'Baloo Paaji', cursive;
	text-align: center;
	font-size: 15px;
}
.parrafo_boris{
	text-align:center;
	color: white;
	font-family: 'Prompt', sans-serif;
	font-size: 13px;
	padding: 25px;
}
.conejo_mr{
	background-color:#468499;
	margin-top: 100px; 
	margin-left: 10px;
	margin-right: 10px;
}
.foto_mr{
	background-size: cover;
	width: 246px;
	height: 180px;
}
.titulo_mr{
	color: #ff4444;
	font-family: 'Baloo Paaji', cursive;
	text-align: center;
	font-size: 15px;
}
.parrafo_mr{
	text-align:center;
	color: white;
	font-family: 'Prompt', sans-serif;
	font-size: 13px;
	padding: 30px;
	padding-bottom: 19px;
}
.conejo_flopsy{
	background-color:#468499;
	margin-top: 100px; 
	margin-left: 10px;
	margin-right: 10px;
}
.foto_flopsy{
	background-size: cover;
	width: 246px;
	height: 180px;
}
.titulo_flopsy{
	color: #ff4444;
	font-family: 'Baloo Paaji', cursive;
	text-align: center;
	font-size: 15px;
}
.parrafo_flopsy{
	text-align:center;
	color: white;
	font-family: 'Prompt', sans-serif;
	font-size: 13px;
	padding: 25px;
}
/*section noticias*/
.noticias .box-margin {
	background-color: rgba(3, 127, 153, 1);
}
.noticias .row {
	align: center;
	margin: 20px auto;
}
.col-6 { /* <------ col-7 */
	padding: 20px;
}
.noticia1 {
	background-color: white;
	padding-bottom: 20px;
}
.noticia1 img {
	width: 100%;
	max-width: 100%;
}
.noticia1 iframe {
	width: 100%;
	max-width: 100%;
}
.col-5 { /* <------ col-5 */
	padding: 20px;
}
.buscador {
	background-color: rgba(236, 247, 251, 1);
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.buscador input {
	padding: 20px;
	width: 90%;
}
.noticia2 {
	background-color: white;
	margin-bottom: 20px;
}
.noticia2 img {
	width: 100%;
	max-width: 100%;
}
.noticia2 nav a {
	text-decoration: none;
}
.iconosRS {
	width: 20px;
	height: 20px;
	color: rgba(3, 127, 153, 1);
}
.iconosRS {
	display: block;
	float: left;
}

.diviconos {
	padding-bottom: 70px;
}
.noticia3 {
	background-color: white;
}
.noticia3 img {
	width: 100%;
	max-width: 100%;
}
.noticias h2 {
	font-size: 25px;
	color: rgba(255, 119, 116, 1);
	margin: 10px auto 30px auto;
	text-align: center;
	font-family: 'Baloo Paaji', cursive;
}
.noticias h3 {
	font-size: 20px;
	color: black;
	margin: 20px;
	font-family: 'Baloo Paaji', cursive;
}
.noticias p {
	font-size: 18px;
	color: black;
	margin: 20px;
	margin-bottom: 30px;
	font-family: 'Prompt', sans-serif;
}
.noticias input {
	border: none;
	border-radius: 5%;
}
/*dibujos conejitos*/
.dibujosConejitos .container-fluid {
	display: inline-block;
	margin: 0;
}
.dibujosConejitos .container-fluid img {
	display: inline-block;
	width: 12%;
	margin: 0;
}
/*footer*/
footer {
	text-align: center;
	background-color: rgba(3, 127, 153, 1);
	color: white;
	border-top: 5px solid rgba(255, 121, 118, 1);
}
footer p {
	font-family: 'Prompt', sans-serif;
	margin: 30px auto 0 auto;
}

